<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496065058117-si1r40n3c48l72180lf6nm6k7t73tehv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496065058117-si1r40n3c48l72180lf6nm6k7t73tehv</string>
	<key>API_KEY</key>
	<string>AIzaSyCOl29x6GrriYoi8__YXvXHeH8B8JtlyY0</string>
	<key>GCM_SENDER_ID</key>
	<string>496065058117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.duyhuynh.simpletodo.dev</string>
	<key>PROJECT_ID</key>
	<string>simple-todo-app-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>simple-todo-app-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496065058117:ios:4dae91cff349ee56e99a2c</string>
</dict>
</plist>